@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
}

ul {
    display: flex;
}

.hero {
    display: flex;
    flex: 2;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.cards {
    display: flex;
}

.quote-box {
    display: flex;
    flex: 2;
}

.call-to-action {
    display: flex;
    flex: 1;
}