@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 300px;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    gap: 10px;
}

button {
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.hero {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    padding: 200px 300px;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text .info {
    font-size: 18px;
    color: #E5E7EB;
}

.welcome {
    margin-left: auto;
    align-self: center;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 75px 300px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}

img {
    width: 150px;
    height: 150px;
}

.quote-box {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light, italic;
    color: #1F2937;
    padding: 150px 300px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-button {
    background-color: #3882F6;
}

.call-to-action {
    display: flex;
    flex: 1;
    color: #E5E7EB;
    padding: 100px 300px;
    flex-direction: column;
    justify-content: center;
}

.cta-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px 100px;
}

.cta-button {
    background-color: #3882F6;
}

.cta-title {
    font-weight: bold;
}

.cta-text {
    margin-right: auto;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    text-align: center;
    padding: 15px;
}